/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
		/*border: 1px solid red !important; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}



/* Your code starts here! */
h1, h2, h3, h4, h5, h6{
	font-family: "Bangers", "Titillium";
}

h1{
	font-size: 70px;
}

h4{
	font-size: 18px;
}

a{
	text-decoration: none;
	color: inherit;
}

li{
	display: inline-block;
}

section {
	display: block;
	padding: 10px 0px 10px 0px;
	margin: 45px 0px 45px 0px;
}

header {
	position: fixed;
	z-index: 1;
	width: 876px;
	top: 0px;
	background-color: blue;
	padding-top: 30px;
	padding-bottom: 35px;
}

nav{
	display: inline-block;
	margin-top: 10px;
}

button{
	border: 1px solid black;
	border-radius: 0px;
	font-size: 16px;
	padding: 7px 30px;
}

p{
	font-size: 18px;
	font-weight: 100;
}

footer{
	display: block;
}

address{
	margin-bottom: 20px;
}

.container{
	width: 876px;
	margin: 0 auto;
}


.nav-item{
	color: white;
	text-decoration: none;
	margin: 0px 20px 0 20px;
}

.nav-item:hover{
	border-bottom: 1px solid white;
}

.logo{
	float: right;
	margin-right: 5%;
}

.jumbotron{
	padding: 30px 0px;
	position: relative;
	margin-top: 120px;
}

.cta{
	text-align: center;
	position: absolute;
	top: 100px;
	left: 100px;
}

.cta-button:hover{
		cursor: pointer;
		animation: wobble-hor-bottom 0.8s both;
}

.circle{
	width: 350px;
	height: 350px;
	margin: 0 auto;
	background-image: url("../img/header-img.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.square{
	width: 876px;
	height: 182px;
	background-image: url("../img/mid-page-accent.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.center{
	text-align: center;
}

.col-6{
	display: inline-block;
	width: 49%;
}

.col-4{
	display: inline-block;
	width: 33%;
}

.fancy{
	font-family: 'Cookie', sans-serif;
	font-size: 30px;
}

.inline-block{
	display: inline-block;
}

.contact-info{
	margin-bottom: 30px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 15:44:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */

 .color-change-2x {
 	-webkit-animation: color-change-2x 8s linear infinite alternate both;
 	        animation: color-change-2x 8s linear infinite alternate both;
 }

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 15:48:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

 .rotate-center {
 	-webkit-animation: rotate-center 0.6s ease-in-out both;
 	        animation: rotate-center 0.6s ease-in-out both;
 }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-9 16:31:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

 .wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
